/* Clientes*/

.imagen-textoItalcred, .imagen-textoNorthlands, .imagen-textoSchenker, .imagen-textoSt.Andrews, .imagen-textoVizora, .imagen-textoBayton {
    text-align: center;
  
    /* Centra todo el contenido */
    display: inline-block;
    width: 30%;
  
    /* Ajusta el ancho de las imágenes */
    margin: 0 10px;
  
    /* Espacio entre las imágenes y textos */
  }
  