/*RESPONSIVE*/
/*Vista tablet*/
/*768px a 1023px*/

@media (max-width: 1023) {
    .encabezado {
        height: auto;
        flex-direction: column;
        text-align: center;
    }

    .main {
        p {
            font-size: 2.5rem;
        }

        h2,
        p {
            font-size: inherit;
        }
    }

    img {
        max-width: 100%;

        /* La imagen nunca será más grande que el ancho de su contenedor */
        height: auto;

        /* Mantiene la proporción correcta */
    }
}